<div class="row">
  <ul>
    <li><%= request.ip %></li>
    <li><%= request.server_software %>
    <li><%= request.media_type %></li>
    <li><%= request.method_symbol %></li>
    <li><%= request.cookie_jar %></li>
  </ul>
</div>
